<div clas="container">
  <div class="row" style="margin-top: 51px;">
    <div class="col-md-11 text-center">
      <br>
      <form action="/add" method="POST">
        <div class="form-group">
          <label>UserName: </label>
          <input type="text" name="username">
        </div>
        <div class="form-group">
          <label>FirstName: </label>
          <input type="text" name="firstname">
        </div>
        <div class="form-group">
          <label>LastName: </label>
          <input type="text" name="lastname">
        </div>
        <div class="form-group">
          <label>Emails: </label>
          <input type="text" name="emails">
        </div>
        <div class="form-group">
          <label>Address: </label>
          <input type="text" name="address">
        </div>
        <div class="form-group">
          <label>City: </label>
          <input type="text" name="name">
        </div>
        <div class="form-group">
          <label>CountryRegion: </label>
          <input type="text" name="countryregion">
        </div>
        <div class="form-group">
          <label>Region: </label>
          <input type="text" name="region">
        </div>
        <button class="btn btn-default" type="submit">Cadastrar Pessoa</button>
      </form>
    </div>
  </div>
</div>